asn1crypto==1.2.0
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
idna==2.8
lxml==4.5.0
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.4.1
requests==2.22.0
requests-futures==1.0.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.5
stem==1.8.0
torrequest==0.1.0
tqdm==4.36.1
urllib3==1.24.2
wcwidth==0.1.9
